<div fxLayout="row" fxLayoutAlign="start center" class="full">
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="20%" class="navigation-bar">
    <H1 fxLayoutAlign="center center" >MEMBRES</H1>
    <div class="horizontal-bar"></div>
    <div fxLayoutAlign="center center" class="navigation-button" routerLink="/admin">Dashboard</div>
    <div fxLayoutAlign="center center" class="navigation-button">Membres</div>
    <div fxLayoutAlign="center center" class="navigation-button" routerLink="/admin-articles">Articles</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="80%" class="main-container">
    <div fxLayout="column" fxLayoutAlign="start center" class="main-container-down">
      <div fxLayout="row" fxLayoutAlign="start center" class="first-line">
        <h4>Membres:</h4>
        <p> (412)</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="line">
        <h4>David Coutisson</h4>
        <div>
          <mat-icon class="done">done</mat-icon>
          <mat-icon class="visibility">visibility</mat-icon>
          <mat-icon class="trash">delete_outline</mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="line">
        <h4>Chamaillard</h4>
        <div>
          <mat-icon class="close">close</mat-icon>
          <mat-icon class="visibility">visibility</mat-icon>
          <mat-icon class="trash">delete_outline</mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="line">
        <h4>Marc Chamaillard</h4>
        <div>
          <mat-icon class="done">done</mat-icon>
          <mat-icon class="visibility">visibility</mat-icon>
          <mat-icon class="trash">delete_outline</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>