h1
{
  color: #FFF;
  font-size: 28px;
  font-weight: bold;
  height: 164px;
}

h2
{
  font-size: 38px;
}

h3
{
  font-size: 38px;
  color: #07bb37;
  font-weight: bold;
}

h4
{
  font-size: 24px;
  margin: 0;
  margin-left: 2%;
}

p
{
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-top: 2px;
  margin-left: 2%;
}

.mat-icon
{
  font-size: 80px;
  width: 80px;
  height: 80px;
}

.full
{
  width: 100%;
  height: 100%;
}

.navigation-bar
{
  background-color: #212120;
  height: 100%;
}

.main-container
{
  background-color: #F4F3EF;
  height: 100%;
}

.main-container-up
{
  height: 33%;
  width: 100%;
}

.main-container-down
{
  width: 100%;
}

.horizontal-bar
{
  background-color: #FFF;
  height: 3px;
  width: 80%;
  margin-bottom: 70px;
}

.navigation-button
{
  height: 86px;
  color: #FFF;
  font-size: 24px;
  width: 80%;
}

.navigation-button:hover
{
  cursor: pointer;
  background-color: #646463;
  border-radius: 50px;
}

.first-line
{
  margin-top: 5%;
  margin-bottom: 1%;
  width: 90%;
  font-size: 24px;
}

.line
{
  background-color: #FFF;
  width: 90%;
  height: 64px;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 24px;
}

.visibility
{
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  cursor: pointer;
}

.visibility:hover
{
  color: dodgerblue;
}

.trash
{
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  cursor: pointer;
}

.trash:hover
{
  color: #F00;
}

.done
{
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  color: #07bb37;
}

.close
{
  font-size: 28px;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  color: #F00;
}