::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active
{
  width: 100%;
}

::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
{
  background-color: #212120;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #212120 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #212120 !important;
}


.full
{
  width: 100% !important;
  height: 100% !important;
}

.first
{
  margin-top: 30px;
}

.button-size
{
  width: 201px;
  height: 50px;
  background-color: #4CAF50;
  margin-bottom: 20px;
}

.button-size-cancel
{
  width: 201px;
  height: 50px;
  margin-bottom: 20px;
}