<div fxLayout="row" fxLayoutAlign="start center" class="full">
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="20%" class="navigation-bar">
    <H1 fxLayoutAlign="center center" >DASHBOARD</H1>
    <div class="horizontal-bar"></div>
    <div fxLayoutAlign="center center" class="navigation-button">Dashboard</div>
    <div fxLayoutAlign="center center" class="navigation-button" routerLink="/admin-members">Membres</div>
    <div fxLayoutAlign="center center" class="navigation-button" routerLink="/admin-articles">Articles</div>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="80%" class="main-container">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="main-container-up">
      <div fxLayout="row" fxLayoutAlign="space-around center" class="card" routerLink="/admin-members">
        <mat-icon>person_outline</mat-icon>
        <div fxLayout="column" fxLayoutAlign="center center" >
          <h2>412</h2>
          <p>Membres</p>
        </div> 
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="card" routerLink="/admin-articles">
        <mat-icon>article</mat-icon>
        <div fxLayout="column" fxLayoutAlign="center center" >
          <h2>68</h2>
          <p>Articles</p>
        </div> 
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="card">
        <mat-icon>pie_chart_outline</mat-icon>
        <div fxLayout="column" fxLayoutAlign="center center" >
          <h3>+ 18%</h3>
          <p>D'adhérents</p>
        </div> 
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" class="main-container-down">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="first-line">
        <h4>Administrateurs:</h4>
        <mat-icon class="add">add</mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="line">
        <h4>David Coutisson</h4>
        <div>
          <mat-icon class="edit">edit</mat-icon>
          <mat-icon class="trash">delete_outline</mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="line">
        <h4>Chamaillard</h4>
        <div>
          <mat-icon class="edit">edit</mat-icon>
          <mat-icon class="trash">delete_outline</mat-icon>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="line">
        <h4>Marc Chamaillard</h4>
        <div>
          <mat-icon class="edit">edit</mat-icon>
          <mat-icon class="trash">delete_outline</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>