<div fxLayout="column" fxLayoutAlign="start center" class="full">
  <mat-toolbar fxLayoutAlign="space-around center">
    <div fxFlex="10%"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">ACCUEIL</div>
    <div class="border-right"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">LE CLUB</div>
    <div class="border-right"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">TERRAINS</div>
    <div class="border-right"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">CONTACT</div>
    <div fxLayoutAlign="end center" fxFlex="10%"><mat-icon class="person" (click)="modaleConnect()">person_outline</mat-icon></div>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="start center" class="full">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="full-background">
      <img src="assets/images/Logo.png" class="logo-img" />
      <div fxLayout="column" fxLayoutAlign="center center">
        <p class="text-white-bold">Tennis club de Vulaines-sur-Seine</p>
        <p class="text-white-bold-sub">Stade Villarceau</p>
        <p class="text-white-bold-sub">1 route de villejust</p>
        <p class="text-white-bold-sub">77870 Vulaines-sur-Seine</p>
      </div>
    </div>
    <div fxLayoutAlign="space-between center" class="full-orange">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
        <p class="text-white-number">4</p>
        <p class="text-white">Enseignants diplômés</p>
        <p class="text">Notre équipe enseignante diplômé d'état met tout en oeuvre pour vous permettre d'apprendre le tennis à votre rythme !</p>
      </div>
      <div class="border-right-white"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
        <p class="text-white-number">172</p>
        <p class="text-white">Adhérents</p>
        <p class="text">Un club familial et de nombreux joueurs avec qui vous pourrez partager votre passion.</p>
      </div>
      <div class="border-right-white"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
        <p class="text-white-number">1</p>
        <p class="text-white">Tournoi</p>
        <p class="text">Chaque année, le club organise son tournoi avec des tableaux seniors hommes et femmes et trois catégories jeunes.</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="full">
      <mat-icon class="chevron">chevron_left</mat-icon>
      <div fxLayout="row" fxLayoutAlign="space-around center" class="full">
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">Nouveau Terrain</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">Tournoi</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">Nouveau Coach</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">Agenda</p></mat-card>
      </div>
      <mat-icon class="chevron">chevron_right</mat-icon>
    </div>
  </div>
</div>
