<div fxLayout="column" fxLayoutAlign="start center" class="full">
  <mat-toolbar fxLayoutAlign="space-around center">
    <div fxFlex="10%"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">ACCUEIL</div>
    <div class="border-right"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">LE CLUB</div>
    <div class="border-right"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">TERRAINS</div>
    <div class="border-right"></div>
    <div fxLayoutAlign="center center" fxFlex="20%" class="nav-button">CONTACT</div>
    <div fxLayoutAlign="end center" fxFlex="10%"><mat-icon>person</mat-icon></div>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="start center" class="full">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
      <div>img</div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p>Tennis club de Vulaines-sur-Seine</p>
        <p>Stade Villarceau</p>
        <p>1 route de villejust</p>
        <p>77870 Vulaines-sur-Seine</p>
      </div>
    </div>
    <div fxLayoutAlign="space-between center" class="full-orange">
      <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
        <p class="text-white">4</p>
        <p class="text-white">Enseignants diplômés</p>
        <p class="text-white">Notre équipe enseignante diplômé d'état met tout en oeuvre pour vous permettre d'apprendre le tennis à votre rythme !</p>
      </div>
      <div class="border-right-white"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
        <p class="text-white">172</p>
        <p class="text-white">Adhérents</p>
        <p class="text-white">Un club familial et de nombreux joueurs avec qui vous pourrez partager votre passion.</p>
      </div>
      <div class="border-right-white"></div>
      <div fxLayout="column" fxLayoutAlign="space-around center" class="full">
        <p class="text-white">1</p>
        <p class="text-white">Tournoi</p>
        <p class="text-white">Chaque année, le club organise son tournoi avec des tableaux seniors hommes et femmes et trois catégories jeunes.</p>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" class="full">
      <div fxLayout="row" fxLayoutAlign="space-around center" class="full">
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">1</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">1</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">1</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">1</p></mat-card>
        <mat-card fxLayout="column" fxLayoutAlign="space-around center" class="card"><p class="text-white">1</p></mat-card>
      </div>
      <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3, 4, 5]"></mat-paginator>
    </div>
  </div>
</div>
